/* line 14, ../_sass/_partials/_bits.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, ../_sass/_partials/_header.scss */
.mastheadIMG {
  max-width: 80%;
  height: auto;
  margin: 1rem 2rem; }

/* line 14, ../_sass/_partials/_header.scss */
.title {
  font-size: 1.75rem;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center; }
  /* line 20, ../_sass/_partials/_header.scss */
  .title span {
    color: red;
    text-transform: uppercase; }

/* line 27, ../_sass/_partials/_header.scss */
.tagline {
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: white; }
  /* line 34, ../_sass/_partials/_header.scss */
  .tagline span {
    color: red;
    font-style: italic; }

/* line 40, ../_sass/_partials/_header.scss */
hr {
  background: red;
  height: 3px;
  width: 80%;
  border: none;
  margin: 0 auto; }

/* line 4, ../_sass/global.scss */
* {
  margin: 0;
  padding: 0; }

/* line 9, ../_sass/global.scss */
html, body {
  overflow-x: hidden; }

/* line 13, ../_sass/global.scss */
p {
  font-family: sans-serif; }

/* line 30, ../_sass/global.scss */
.center {
  display: block;
  margin: 0 auto; }

/* line 35, ../_sass/global.scss */
.landingPage {
  background-color: #222;
  margin-top: 1rem; }

/* line 40, ../_sass/global.scss */
.innerWrapper {
  background-color: #2f2f2f;
  color: #fff;
  width: 80%;
  margin: 1rem auto;
  padding: 2rem; }
  /* line 47, ../_sass/global.scss */
  .innerWrapper p {
    margin-bottom: 1rem; }
  /* line 50, ../_sass/global.scss */
  .innerWrapper ul {
    width: 75%; }

/* line 57, ../_sass/global.scss */
.clickthruTop {
  max-width: 50%;
  margin: 1rem auto; }
  /* line 60, ../_sass/global.scss */
  .clickthruTop img {
    width: 100%; }
  @media (min-width: 760px) {
    /* line 57, ../_sass/global.scss */
    .clickthruTop {
      position: absolute;
      right: 65px;
      top: 55px; } }

/* line 70, ../_sass/global.scss */
.infoBlock {
  margin: 0 auto;
  width: 90%; }

/* line 76, ../_sass/global.scss */
.infoBlock1, .infoBlock2, .infoBlock3 {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 0.75rem; }
  /* line 83, ../_sass/global.scss */
  .infoBlock1 h2, .infoBlock2 h2, .infoBlock3 h2 {
    color: yellow; }
  /* line 86, ../_sass/global.scss */
  .infoBlock1 em, .infoBlock2 em, .infoBlock3 em {
    color: yellow; }
  /* line 89, ../_sass/global.scss */
  .infoBlock1 p, .infoBlock2 p, .infoBlock3 p {
    font-size: 1.2rem; }
  @media (min-width: 760px) {
    /* line 76, ../_sass/global.scss */
    .infoBlock1, .infoBlock2, .infoBlock3 {
      max-width: 30%;
      float: left; }
      /* line 95, ../_sass/global.scss */
      .infoBlock1 .infoBlock3, .infoBlock2 .infoBlock3, .infoBlock3 .infoBlock3 {
        float: right; } }
