/* line 1, ../_sass/global.scss */
.landingPage {
  background-color: #222; }

/* line 5, ../_sass/global.scss */
.pageWrap {
  background-color: #fff;
  color: #222;
  width: 90%;
  margin: 0 auto;
  padding: 1em; }
