//--------------------------------------------
// IMPORTS
//--------------------------------------------

@import "compass";
// @import "partials/normalize";



//--------------------------------------------
// INITIALIZATION
//--------------------------------------------

* {
  @include box-sizing('border-box');
}

//--------------------------------------------
// GRID
//--------------------------------------------


//--------------------------------------------
// VARIABLES
//--------------------------------------------

$darkGray: #444;
$pText: #222;


//--------------------------------------------
// FONTS
//--------------------------------------------

@mixin font-stack-masthead {
	font-family: "nueva-std",serif;		
}

