<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.name }}</title>
  <meta name="viewport" content="width=device-width, intitial-scale=1.0">
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="/css/global.css">

  <script type="text/javascript" src="//use.typekit.net/rzq7inz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
  
<body class="landingPage">
  <div class="pageWrap">
    <header>
      <div class="masthead">
        <!-- <h1 class="title">Tales of <span>murder</span></h1>
        <h3 class="tagline">for readers with time to <span>kill</span>!</h3> -->
        <img class="mastheadIMG" src="/img/header_stacked.png" alt="Tales of Murder :: for readers with time to kill!">
      </div> <!-- end div masthead -->
      
      <hr class="red">

    </header>

    <div class="clickthruTop">
      
      <img src="/img/clickthru_button.png" alt="Click through to offer.">

    </div>
  
    <section class="innerWrapper">
      
      {{ content }}

    </section>

  </div> <!-- end div pageWrap --> 
</body>
</html>